@import "./normalize.css";
@import "./reset.css";
/** {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  box-shadow: none !important;
  filter: none !important;
}*/
/** {
  outline: 1px solid red !important;
}*/
@font-face {
  font-family: "GentiumBookPlus";
  font-style: normal;
  font-weight: bold;
  src: local("GentiumBookPlus"), url(/fonts/GentiumBookPlus-Bold.ttf) format(ttf);
}
@font-face {
  font-family: "GentiumBookPlus";
  font-style: normal;
  font-weight: normal;
  src: local("GentiumBookPlus"), url(./fonts/GentiumBookPlus-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "MPLUS1p";
  font-style: normal;
  font-weight: normal;
  src: local("MPLUS1p"), url(./fonts/MPLUS1p-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "MPLUS1p";
  font-style: normal;
  font-weight: bold;
  src: local("MPLUS1p"), url(./fonts/MPLUS1p-Bold.ttf) format(ttf);
}
a {
  text-decoration: none;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  position: relative;
}

.first-section {
  position: relative;
  min-height: 850px;
  background-color: #231e1e;
}
.first-section__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.first-section__logo {
  padding-top: 18px;
}
.first-section__content-container {
  display: flex;
  justify-content: space-between;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__item {
  margin-right: 30px;
  font-size: 24px;
  font-family: "MPLUS1p";
  font-weight: bold;
  color: #ffffff;
  padding-top: 42px;
}
.nav-menu__item:hover {
  transform: scale(1.1);
  color: #ffc700;
}
.nav-menu__item:last-child {
  margin-right: 50px;
}

.left-side {
  position: relative;
  left: 0px;
  top: 182px;
}
.left-side__text-block {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 564px;
  height: 337px;
  /* left: 0px;
      top: 182px; */
  background: #2d2a2a;
  box-shadow: 20px 19px 25px 30px rgba(0, 0, 0, 0.5);
}
.left-side__text-block p {
  margin: 15px 20px;
  font-size: 20px;
  font-family: "MPLUS1p";
  font-weight: bold;
  color: #ffffff;
}
.left-side__text-block .orange {
  font-size: 20px;
  font-family: "MPLUS1p";
  color: #ffc700;
  font-weight: normal;
}
.left-side__text-block span {
  font-size: 48px;
  font-family: "GentiumBookPlus";
  color: #ffffff;
}

.element-animation {
  margin: 0rem 0;
  transform: translateY(40%);
  opacity: 0;
  z-index: 2;
}

.element-show {
  opacity: 1;
  transition: opacity 1s;
  transform: translateY(0%);
}

.right-side {
  position: relative;
}
.right-side img {
  position: relative;
  right: 0;
  bottom: -50px;
  z-index: 2;
}

.section__title {
  display: grid;
  justify-content: center;
  justify-items: center;
  z-index: 1;
  margin-bottom: 155px;
}
.section__title h1 {
  font-family: "GentiumBookPlus";
  color: #ffffff;
  font-size: 40px;
}
.section__title .under-title {
  position: absolute;
  width: 230px;
  height: 23px;
  top: 74px;
  background: #ffc700;
  z-index: -1;
}
.section__title .third_under-title {
  position: absolute;
  width: 150px;
  height: 23px;
  top: 74px;
  background: #ffc700;
  z-index: -1;
}
.section__title .fourth_under-title {
  position: absolute;
  width: 135px;
  height: 23px;
  top: 74px;
  background: #ffc700;
  z-index: -1;
}

.triangle {
  position: absolute;
  left: -480px;
  top: -60px;
  transform: rotate(341deg);
  border-left: 535px solid transparent;
  border-right: 361px solid transparent;
  border-top: 554px solid #ffc700;
}
.triangle__right {
  position: absolute;
  z-index: 1;
  right: -171px;
  bottom: -60px;
  transform: rotate(90deg);
  border-left: 535px solid transparent;
  border-right: 361px solid transparent;
  border-top: 554px solid #ffc700;
  overflow: hidden;
}
.triangle__fourth-section {
  position: absolute;
  left: 0px;
  top: 200px;
  width: 0;
  height: 0;
  rotate: 45;
  transform: rotate(0deg);
  border-top: 263px solid transparent;
  border-left: 575px solid #2d2a2a;
  border-bottom: 370px solid transparent;
}
.triangle__fourth-section-right {
  position: absolute;
  right: 0px;
  top: 200px;
  width: 0px;
  height: 0px;
  border-top: 263px solid transparent;
  border-right: 575px solid #2d2a2a;
  border-bottom: 370px solid transparent;
  transform: rotate(0deg);
  overflow: hidden;
}

.second-section {
  position: relative;
  min-height: 850px;
  background-color: #231e1e;
}
.second-section__cards {
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
}
.second-section__cards .project-cards {
  background: #2d2a2a;
  box-shadow: 18px 22px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.second-section__cards .project-cards__img {
  margin: 24px 18px;
}
.second-section__cards .project-cards__title {
  color: #ffffff;
  font-family: "MPLUS1p";
  font-weight: bold;
  font-size: 24px;
}
.second-section__cards .project-cards p {
  color: #ffffff;
  font-family: "MPLUS1p";
  font-weight: normal;
  font-size: 16px;
  margin: 11px 18px;
}
.second-section__cards .project-cards:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.4s;
}
.second-section .artstation {
  z-index: 4;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: "MPLUS1p";
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}
.second-section .artstation a {
  text-decoration: none;
  color: rgba(245, 0, 0, 0.7803921569);
}
.second-section .artstation a:hover {
  text-decoration: underline;
}

.third-section {
  position: relative;
  min-height: 850px;
  background-color: #231e1e;
}
.third-section .third-section__content {
  display: flex;
  justify-content: space-between;
}
.third-section__right-side {
  position: relative;
}
.third-section__left-side {
  position: relative;
}
.third-section__left-side img {
  z-index: 2;
  position: relative;
  left: 0px;
  bottom: 60px;
}

.ellipse {
  position: absolute;
  top: 31px;
  left: -220px;
  width: 860px;
  height: 410px;
  background: #ffc700;
  border-radius: 426px/243px;
  rotate: 330deg;
  z-index: 1;
}
.ellipse__first-section {
  position: absolute;
  top: 300px;
  right: 0px;
  width: 786px;
  height: 413px;
  background: #ffc700;
  border-radius: 426px/243px;
  rotate: 320deg;
  z-index: 1;
}

.third {
  z-index: 2;
  padding: 20px 10px;
  position: relative;
  max-width: 700px;
  max-height: 400px;
  background: #2d2a2a;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  flex-direction: column;
}
.third p {
  font-family: "MPLUS1p";
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin: 10px 15px;
}
.third .left-side-text {
  max-width: 350px;
}
.third__bottom-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.third__contacts .contacts__img {
  position: relative;
  right: 40px;
  bottom: -40px;
}

.fourth-section {
  position: relative;
  min-height: 850px;
  background-color: #231e1e;
}
.fourth-section .fourth-section__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.fourth-section .fourth-section__content .skill {
  z-index: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 30%;
}
.fourth-section .fourth-section__content .skill__icon {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.fourth-section .fourth-section__content .skill__icon p {
  font-family: "GentiumBookPlus";
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  margin-left: 30px;
}
.fourth-section .fourth-section__content .bar {
  display: flex;
  margin-bottom: 85px;
}
.fourth-section .fourth-section__content .bar .bar-section {
  width: 50px;
  height: 10px;
  background: #ffc700;
  margin-right: 10px;
}
.fourth-section .fourth-section__content .bar .bar-section:last-child {
  margin-right: 0;
}
.fourth-section .fourth-section__content .bar .white {
  background: #ffffff;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.break1 {
  flex-basis: 100%;
  height: 0;
}

.footer {
  position: relative;
  min-height: 60px;
  background-color: #2d2a2a;
}
.footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__left-side {
  font-family: "MPLUS1p";
  font-size: 18px;
  color: #ffffff;
}
.footer__right-side {
  margin: 20px 10px;
}
.footer__right-side a {
  margin-right: 15px;
}
.footer__right-side a:last-child {
  margin-right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.637);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

.overlay__hidden {
  display: none;
}

.carousel {
  width: 800px;
  height: 700px;
}

.cross {
  z-index: 4;
  position: absolute;
  top: 80px;
  right: 10px;
  color: #ffc700;
}
.cross .cross-sign {
  font-size: 30px;
  cursor: pointer;
}
.cross .cross-sign:hover {
  color: rgba(255, 200, 0, 0.7529411765);
}

.carousel {
  margin-bottom: 20px;
}

@media (max-width: 1920px) {
  .ellipse__first-section {
    position: absolute;
    top: 300px;
    right: 150px;
    width: 786px;
    height: 413px;
    background: #ffc700;
    border-radius: 426px/243px;
    rotate: 320deg;
    z-index: 1;
  }
}
@media (max-width: 1600px) {
  .ellipse__first-section {
    position: absolute;
    top: 300px;
    right: 100px;
    width: 786px;
    height: 413px;
    background: #ffc700;
    border-radius: 426px/243px;
    rotate: 320deg;
    z-index: 1;
  }
}
@media (max-width: 1450px) {
  .ellipse__first-section {
    position: absolute;
    top: 300px;
    right: 50px;
    width: 786px;
    height: 413px;
    background: #ffc700;
    border-radius: 426px/243px;
    rotate: 320deg;
    z-index: 1;
  }
}
@media (max-width: 1290px) {
  .left-side__text-block {
    left: 20px;
  }
  .third {
    right: 20px;
  }
  .ellipse__first-section {
    position: absolute;
    top: 290px;
    right: 0px;
    width: 786px;
    height: 413px;
    background: #ffc700;
    border-radius: 426px/243px;
    rotate: 304deg;
    z-index: 1;
  }
}
@media (max-width: 1199px) {
  .first-section {
    min-height: 750px;
  }
  .left-side {
    left: 10px;
    top: 182px;
  }
  .left-side__text-block {
    width: 480px;
    height: 270px;
    box-shadow: 10px 15px 20px 20px rgba(0, 0, 0, 0.5);
  }
  .right-side {
    right: 110px;
    bottom: -40px;
  }
  .triangle {
    left: -480px;
    top: 200px;
  }
  .triangle__right {
    right: -130px;
    bottom: 100px;
    border-left: 464px solid transparent;
    border-right: 226px solid transparent;
    border-top: 428px solid #ffc700;
  }
  .ellipse__first-section {
    top: 275px;
    right: 0px;
    width: 661px;
    height: 360px;
  }
  .third {
    max-width: 550px;
    max-height: 335px;
    right: 60px;
  }
  .third__bottom-text {
    display: flex;
    justify-content: space-between;
  }
  .third .left-side-text {
    max-width: 230px;
  }
  .third p {
    font-size: 18px;
  }
  .fourth-section .fourth-section__content {
    display: flex;
    justify-content: center;
  }
  .fourth-section .fourth-section__content .skill {
    margin: 10px 0 10px 20px;
    max-width: 40%;
  }
  .fourth-section .fourth-section__content .skill:last-child {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .left-side__text-block {
    background: rgba(45, 42, 42, 0.5);
  }
  .third {
    /* position: absolute;
        left: 30%; */
    background: rgba(45, 42, 42, 0.5);
  }
  .fourth-section .fourth-section__content {
    justify-content: center;
  }
  .fourth-section .fourth-section__content .skill__icon p {
    margin-left: 15px;
  }
}
@media (max-width: 940px) {
  .first-section {
    min-height: 800px;
  }
  .first-section__content-container {
    justify-content: center;
  }
  .ellipse__first-section {
    top: 325px;
    right: 40px;
    width: 661px;
    height: 360px;
  }
  .left-side {
    top: 330px;
    z-index: 3;
  }
  .left-side__text-block {
    display: flex;
    align-items: center;
    width: 600px;
  }
  .right-side {
    right: 110px;
    bottom: -380px;
    position: absolute;
    left: 35%;
  }
  .section__title {
    margin-bottom: 100px;
  }
  .triangle {
    top: 320px;
  }
  .second-section {
    min-height: 1200px;
  }
  .second-section__cards {
    flex-direction: column;
    align-items: center;
  }
  .second-section__cards .project-cards {
    margin-bottom: 10px;
  }
  .second-section .artstation {
    font-size: 22px;
    color: #ffffff;
    padding-bottom: 20px;
  }
  .third-section {
    min-height: 900px;
  }
  .third-section__left-side {
    top: 150px;
  }
  .third-section .third {
    max-width: 380px;
    max-height: 700px;
  }
  .third-section .third__bottom-text {
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .fourth-section .fourth-section__content {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -120%;
    height: 10vh;
    width: 80vh;
    background: hsla(0deg, 9%, 13%, 0);
    z-index: 5;
    transition: 0.5s all;
  }
  .nav-menu__list {
    display: flex;
    height: 50%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-menu__item {
    font-size: 20px;
    margin-right: 30px;
  }
  .logo-unactive {
    transition: 0.4s ease;
    opacity: 0;
  }
  .hamburger {
    width: 30px;
    height: 14px;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 6;
  }
  .hamburger span {
    height: 2px;
    width: 100%;
    display: block;
    background-color: #ffc700;
    margin-bottom: 3px;
    transition: 0.5s all;
  }
  .hamburger span:last-child {
    margin-bottom: 0;
  }
  .hamburger-active {
    height: 25px;
  }
  .hamburger-active span {
    margin-bottom: -2px;
  }
  .hamburger-active span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .hamburger-active span:nth-child(2) {
    display: none;
  }
  .hamburger-active span:nth-child(3) {
    transform: translateY(10px) rotate(45deg);
  }
  .nav-menu_active {
    right: 10px;
  }
  .first-section .right-side {
    left: 25%;
  }
  .first-section .right-side img {
    right: 50px;
  }
  .second-section .artstation {
    font-size: 19px;
  }
  .ellipse {
    width: 710px;
    height: 310px;
  }
  .third {
    position: absolute;
  }
  .left-side__text-block {
    width: 420px;
    left: 0px;
  }
  .triangle__fourth-section {
    display: none;
  }
  .triangle__fourth-section-right {
    display: none;
  }
}
@media (max-width: 540px) {
  .first-section {
    overflow: hidden;
  }
  .nav-menu__item:last-child {
    font-size: 15px;
    margin-right: 30px;
  }
  .ellipse__first-section {
    right: -60px;
  }
  .second-section {
    overflow: hidden;
  }
  .second-section .artstation {
    font-size: 15px;
  }
  .third-section {
    overflow: hidden;
  }
  .fourth-section {
    overflow: hidden;
  }
  .fourth-section .fourth-section__content {
    justify-content: flex-start;
  }
  .fourth-section .fourth-section__content .skill__icon {
    align-items: baseline;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */
